Name: core-api
Host: 0.0.0.0
Port: 9999
Timeout: 10000 # 单位毫秒
AppUrl: 'https://www.guke1.com'
ApiUrl: 'https://api.guke1.com'
# 秘钥
Salt: 'aesSe8u11UzIUgsDDAGu21UzIBussGDG'
# jwt 秘钥
JwtKey: 'aesSe8u11UzIUgsDDAGu'
# 163 发送邮件配置
UserName: 'xxxx@163.com'
MailPassword: 'xxxx'

Mysql:
  Dsn: root:password@tcp(mysql:3306)/bus_api?charset=utf8mb4&parseTime=True&loc=Local
  MaxIdleConn: 10
  MaxOpenConn: 50
  MaxLifetime: 1 # 单位小时

Redis:
  Addr: "localhost:6379"
  Password:
  DB: 0

# 极验配置
GeeTestId: "c9c4facd1a6feeb80802222cbb74ca8e"
GeeTestKey: "e4e298788aa8c768397639deb9b249a9"

# 微信配置
WeChat:
  AppID: wx21dd37cdded3f6f9
  AppSecret: 668ce07fdfccb498b00d193b939458c2
  Token: gozero_bus_api
  EncodingAESKey: ""
